*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: rgb(78, 18, 18);
    text-align: center;
    padding-bottom: 20px;
}

input{
    display: block;
    border: none;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
}

button{
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;

    &:hover{
        background-color: cornflowerblue;
    }
}

div{
    text-align: center;
}
